$codewars_black: #303133;
$codewars_red: #aaa1ca;
$codewars_red_hover: #765ad8;

$main_bg: #434343;
$white_color: #bababa;


$w_codewars_black: #d1d5da;
$w_codewars_red: #406094;
$w_codewars_red_hover: #765ad8;
$w_main_bg: #f0f0f0;
$w_white_color: #575757;
