@import 'assets/scss/variable.scss';
@import 'assets/scss/breakpoints.scss';
@import './home _light.scss';

.home-container {
    background-color: $main_bg;
    overflow: hidden;

    nav {
        background-color: $codewars_black;
        border-bottom: .3vh solid $codewars_red;
        width: 60%;
        height: 10vh;
        position: fixed;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tabletOrPhone {
            width: 100%;
        }

        .list-section {
            display: flex;
            align-items: center;
            padding: 0 2vh;
            cursor: pointer;

            p {
                transition: color .25s, margin-top .25s;
                font-weight: bold;
                color: $codewars_red;
                font-size: 1.8vh;

                @include tabletOrPhone {
                    display: none;
                }
            }

            .active-indicator {
                width: 1.5vh;
                height: 1.5vh;
                background-color: $codewars_red;
                margin-right: 1vh;
                transition: border-radius .25s, margin-top .25s;

                @include tabletOrPhone {
                    display: none;
                }
            }

            &:hover {
                p {
                    color: $codewars_red_hover;
                }

                .active-indicator {
                    background-color: $codewars_red_hover;
                    border-radius: 50%;
                }
            }

            .switch-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                img {
                    height: 2.5vh;
                    width: 2.5vh;
                }
            }
        }
    }

    // .forbidden {
    //     background-color: $main_bg;
    //     padding: 2vh;
    //     height: 100vh;
    //     overflow: hidden;
    //     p {
    //         color: $white_color;
    //     }
    //     @include desktop {
    //         display: none;
    //     }
    // }

    .content-wrapper {
        padding: 15vh 20.1% 0;

        // @include tabletOrPhone {
        //     display: none;
        // }
        @include tabletOrPhone {
            padding: 10vh 0;
        }

        .section-header {
            width: 100%;
            background-color: $codewars_black;
            height: 6vh;
            display: flex;
            align-items: center;
            border-radius: .5vh;
            margin: 2vh 0;
            display: flex;
            justify-content: space-between;

            h4 {
                font-size: 2.5vh;
                margin-left: 2vh;
                color: $codewars_red
            }

            a {
                color: $codewars_red;
                font-weight: bold;
                font-size: 1.8vh;
                margin-right: 2vh;

                @include tabletOrPhone {
                    display: none;
                }
            }

            img {
                margin-left: 1vh;
                width: 40vh;

                @include tabletOrPhone {
                    margin: auto;
                    width: 95%;
                    height: 100%;
                }
            }
        }

        .section-body {
            width: 100%;
            background-color: $codewars_black;
            margin-bottom: 10vh;

            &:last-child {
                margin-bottom: 3vh;
            }

            .padder {
                padding: 2vh;
                font-size: 2vh;
                color: $white_color;

                a {
                    color: $codewars_red;
                    font-weight: bold;
                }

                h5 {
                    font-size: 2vh;
                    margin-top: 0;
                }

                img {
                    width: 8vh;
                    height: 8vh;
                    margin-right: 2vh;
                    object-fit: cover;
                }

                .list {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .flex-wrapper {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                @include tabletOrPhone {
                    display: none;
                }

                .skill-box {
                    width: 40vh;
                    height: 20vh;
                    background-color: $codewars_black;
                    margin-bottom: 1.6vh;
                    border-radius: .5vh;

                    @include tabletOrPhone {
                        justify-content: center;
                        width: 100%;
                        overflow: auto;
                    }

                    .cp {
                        padding: 0 2vh;

                        @include tabletOrPhone {
                            text-align: center;
                        }

                        h5 {
                            font-size: 2vh;
                            color: $white_color;
                        }

                        img {
                            width: 6vh;
                            height: 6vh;
                            margin-right: 2vh;
                            object-fit: cover;
                        }
                    }
                }
            }

            .portfolio-list {
                padding: .5vh 2vh 2vh;

                h4 {
                    font-size: 2.5vh;
                    color: $codewars_red;
                }

                p,
                i {
                    color: $white_color;
                    font-size: 2vh;
                }

                img {
                    width: 20vh;
                    margin-right: 2vh;
                    margin-bottom: 2vh;
                    cursor: pointer;
                }

                .stack-list {
                    display: flex;
                    align-items: center;

                    img {
                        width: 5vh;
                        margin-bottom: 2vh;

                        @include tabletOrPhone {
                            width: 3.5vh;
                        }
                    }
                }
            }

            .exp-body {
                padding: 5vh 2vh .5vh;
                display: flex;

                svg {
                    height: 38vh;

                    path {
                        fill: $codewars_red;
                    }
                }

                .exp-wrapper {
                    .list-exp {
                        margin-bottom: 5vh;

                        h5 {
                            margin: 0;
                            color: $codewars_red;
                            font-size: 2vh;
                        }

                        p {
                            margin: 0;
                            color: $white_color;
                            line-height: 3vh;
                            font-size: 2vh;
                        }

                        i {
                            color: $white_color;
                            font-size: 2vh;
                            line-height: 4vh;
                        }
                    }
                }
            }
        }

        .no-bg {
            background-color: transparent;
            margin-bottom: 0;
        }

        /* PROFILE SECTION */
        .profile-container {
            section {
                display: flex;
                justify-content: space-between;
                margin: 2vh 0;

                @include tabletOrPhone {
                    justify-content: center;
                    flex-direction: column;
                }

                .left {
                    display: flex;
                    flex-direction: column;

                    @include tabletOrPhone {
                        width: 100%;
                    }

                    img#me {
                        width: 35vh;
                        height: 41vh;
                        border-right: 2vh solid $main_bg;
                        object-fit: cover;

                        // border-radius: .5vh;
                        @include tabletOrPhone {
                            width: 95%;
                            border-right: 0;
                            height: 50vh;
                            margin: auto;
                            margin-bottom: 1vh;
                        }
                    }
                }

                .right {
                    background-color: $codewars_black;
                    width: 84%;
                    padding: 2vh;
                    display: flex;
                    flex-direction: column;

                    @include tabletOrPhone {
                        width: 100%;
                        text-align: center;
                        padding: 2vh 0;
                    }

                    label {
                        color: $white_color;
                        font-size: 2vh;
                    }

                    span {
                        color: $codewars_red;
                        font-size: 2.5vh;
                        margin-bottom: 2vh;
                    }

                    p {
                        color: $white_color;
                    }

                    .sm-list {
                        margin-top: 2vh;
                        display: flex;

                        @include tabletOrPhone {
                            justify-content: center;
                        }

                        img {
                            margin-right: 1vh;
                            height: 3.5vh;
                            width: 3.5vh;
                        }
                    }
                }
            }
        }

        /* ABOUT ME SECTION */
        .about-me-container {
            width: 100%;
        }

        #cp {
            display: flex;
            align-items: center;

            p {
                color: $codewars_red;
                margin: 1vh 2vh 3vh 0;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}

.slick-slider {
    .skill-box {
        width: 40vh;
        height: 20vh;
        background-color: $codewars_black;
        margin-bottom: 1.6vh;
        border-radius: .5vh;

        @include tabletOrPhone {
            justify-content: center;
            width: 100%;
            overflow: auto;
        }

        .cp {
            padding: 0 2vh;

            @include tabletOrPhone {
                text-align: center;
            }

            h5 {
                font-size: 2vh;
                color: $white_color;
            }

            .list-logo {
                display: flex;
                justify-content: center;
                img {
                    width: 6vh;
                    height: 6vh;
                    margin-right: 2vh;
                    object-fit: cover;
                }
            }
        }
    }
}